*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    border-radius: 10px;
}

body{
    background-image: url("img/fundo.gif");
}

h1{
    color: red;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

main{
    border: solid #ffffff 2px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    margin-top: 10px;
}

.buttons{
    text-align: center;
}

button{
    background-color: red;
    padding: 10px 50px 10px 50px;
    font-size:medium;
}

button:hover{
    cursor: pointer;
}

.image{
    width: 100%;
    height: 90%;
    text-align: center;
}

p{

    margin-top: 8px;

}

footer{
    width: 100%;
    color: #FFF;
    display: flex;
    padding: 5px 0px 5px 0px;
    justify-content: space-around;
    align-items: center;
    font-size:smaller;
    margin-top: 10px;
}

@media (max-width: 1064px){

    main{
        height: 550px;
        width: 80%;
    }

    button{
        padding: 10px 25px 10px 25px;
    }

}